*{
    font-family: 'Noticia Text', serif;
    margin: 0 auto;
 color: #efbb40;
}

body{
    background-color:#171520;
    width: 100%;
}


.delete-icon { 
    
    height: 13px;
}

#random-image {
    height:40vh;
}

.container{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

@media all and (max-width: 650px){
    .container{
        margin-top: 5vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        font-size: smaller;
    }
    #random-image {
        width: 70vw;
        height: auto;
    }
    .footer{
        font-size: x-small;
    }
}
@media all and (min-width: 1350px){
    #random-image { 
        height: 50vh;
    }
}

#list-container{
    align-self: center;
}

#photo-container{
    justify-self: center;
}

#list{
    padding: 0;
    padding-top: 15px;
    list-style: none;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    padding-top:7px;
    
}
li img, li p {
    margin: 0;
}

li img{
    margin-right: 5px;
}
li img:hover{
    cursor: pointer;
}
li, p:hover{
    cursor: default;
}

.done{
    text-decoration: line-through;
}

.footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;     
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: small;
}

